* {
    margin: 0px;
    padding: 0px;
}

.home-location {
    display: flex;
    padding-top: 20px;
    padding-left: 10px;
}

.home-location p {
    padding-left: 10px;
}

.home {
    background-color: #ff3b00;
    color: white;
    height: 70px;
}

.loca {
    margin-left: 10px;
}

.profile {
    margin-left: 82%;
}

.profile img {
    border-radius: 100%;
}

.food {
    background-color: #ff3b00;
    color: white;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    font-size: large;
    margin: 10%;
}

.food i {
    padding-left: 30px;
}

.food-1 {
    display: flex;
    padding-left: 30px;
    padding-top: 30px;
}

.top {
    padding-left: 10px;
}

.food-2 {
    padding-left: 30px;
    padding-top: 20px;
}

.book-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #C53A0F;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin-top: 10%;
    margin-left: 40%;
}

.nav {
    display: flex;
    background-color: #ff3b00;
    color: white;
    width: 95%;
    height: 50px;
    bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    /* right: 2px; */
    position: fixed;
    z-index: 50;
}

.nav i {
    margin-left: 10px;
}

.home-nav {
    background-color: #C53A0F;
    color: white;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    
}