* {
    margin: 0px;
    padding: 0px;
}

.login {
    background-color: #ff3b00;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.login button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    border: none;
    margin-left: 90%;
    color: white;
    background-color: #C53A0F;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.login-number {
    margin-top: 20px;
}

.login-number input {
    border: black 2px solid;
    height: 30px;
    width: 200px;
    padding-left: 30px;
    border-radius: 5px;
    outline: none;
    margin-top: 20px;
}

.login-number p {
    font-size: 20px;
}

.continue-button button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10px;
    border: #C53A0F 3px solid;
    margin-top: 20%;
    color: white;
    background-color: #ff3b00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
/* Medium screens (tablets) */
/* @media (min-width: 600px) {
  input[type="text"],
  button {
    width: 60%;
    font-size: 18px;
  }

  .container {
    padding: 40px;
  }
} */
