* {
    margin: 0px;
    padding: 0px;
}

.home-location {
    display: flex;
    padding-top: 20px;
    padding-left: 10px;
}

.home-location p {
    padding-left: 10px;
}

.home {
    background-color: #ff3b00;
    color: white;
    height: 70px;
}

.loca {
    margin-left: 10px;
}

.profile {
    margin-left: 82%;
}

.profile img {
    border-radius: 100%;
}

.card-top {
    display: flex;
    font-size: larger;
    margin: 30px;
}

.card-top p {
    margin-left: 10px;
}

.search {
    border: black 2px solid;
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    padding: 20px;
    border-radius: 20px;
}

.search input {
    border: none;
    outline-color: white;
    width: 90%;
    height: 100%;
    padding-left: 5px;
}

.filter {
    display: flex;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    justify-content: space-between;
}

.filter-top {
    border: solid black 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
}

.food-reorder {
    margin-left: 350px;
    margin-top: 50px;
    margin-right: 350px;
    border: black solid 2px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.rest-name {
    font-size: larger;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.food-name {
    display: flex;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 5px;
}

.food-reorder p {
    padding-left: 10px;
}

.food-reorder .para {
    padding-left: 80px;
    padding-bottom: 10px;
}

.food-name i {
    color: red;
}

.button {
    display: flex;
    border: green 1px solid;
    border-radius: 5px;
    margin-left: 550px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.button1 {
    display: flex;
    border: green 1px solid;
    border-radius: 5px;
    margin-left: 518px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.button2 {
    display: flex;
    border: green 1px solid;
    border-radius: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 535px;
}

.nav {
    display: flex;
    background-color: #ff3b00;
    color: white;
    width: 95%;
    height: 50px;
    bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    right: 2px;
    position: fixed;
    z-index: 50;
}

.nav i {
    margin-left: 10px;
}

.reorder-nav {
    background-color: #C53A0F;
    color: white;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}